資料準備
time - 第一列是2015年的觀測時間
station - 第二欄是站名，有25個觀測站
【板橋、菜寮、大同、大園、觀音、古亭、基隆、林口、龍潭、平鎮、三重、士林、松山、淡水、桃園、土城、萬華、萬里、新店、新莊、西直、陽明、永和、中壢、中山]
items - 從第三列到最後一列
項目 - 單位 - 描述
SO2 - ppb - 二氧化硫
CO - ppm - 一氧化碳
O3 - ppb - 臭氧
PM10 - μg/m3 - 顆粒物
PM2.5 - μg/m3 - 顆粒物
NOx - ppb - 氮氧化物
NO - ppb - 一氧化氮
NO2 - ppb - 二氧化氮
THC - ppm - 總碳氫化合物
NMHC - ppm - 非甲烷烴
CH4 - ppm - 甲烷
UVB - UVI - 紫外線指數
AMB_TEMP - 攝氏度 - 環境空氣溫度
降雨量 - 毫米
RH - % - 相對濕度
WIND_SPEED - 米/秒 - 每小時最後十分鐘的平均值
WIND_DIREC - degress - 每小時最後十分鐘的平均值
WS_HR - m/sec - 小時的平均值
WD_HR - degress - 小時的平均值
PH_RAIN - PH - 酸雨
RAIN_COND - μS/cm - 酸雨的電導率

In [5]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from datetime import datetime

df = pd.read_csv('2015_Air_quality_in_northern_Taiwan.csv')
df.head()

C:\Users\danny\AppData\Local\Temp\ipykernel_10636\3866337014.py:6: DtypeWarning: Columns (10,14,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('2015_Air_quality_in_northern_Taiwan.csv')

,time,station,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,...,RAINFALL,RAIN_COND,RH,SO2,THC,UVB,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,2015/1/1 00:00,Banqiao,16,2.1,0.79,0.14,1.2,16,17,37,...,NR,NR,57,12,2.2,0,69,69,4.7,4.2
1,2015/1/1 01:00,Banqiao,16,2.1,0.8,0.15,1.3,16,17,36,...,NR,NR,57,11,2.2,0,67,65,4,4
2,2015/1/1 02:00,Banqiao,16,2.1,0.71,0.13,1,13,14,38,...,NR,NR,57,8,2.2,0,63,53,3.7,3.5
3,2015/1/1 03:00,Banqiao,15,2,0.66,0.12,0.8,11,12,39,...,NR,NR,58,6.5,2.2,0,63,63,4.1,3.3
4,2015/1/1 04:00,Banqiao,15,2,0.53,0.11,0.6,10,11,38,...,NR,NR,58,5.5,2.1,0,69,67,3,3.1

# indicates invalid value by equipment inspection
* indicates invalid value by program inspection
x indicates invalid value by human inspection
NR indicates no rainfall
blank indicates no data

In [2]:
# 將 #, *, x 和 NR 替換成 NaN
df = df.replace(['#', '*', 'x', 'NR'], pd.NA)
df.head()

,time,station,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,...,RAINFALL,RAIN_COND,RH,SO2,THC,UVB,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,2015/1/1 00:00,Banqiao,16,2.1,0.79,0.14,1.2,16,17,37,...,<NA>,<NA>,57,12,2.2,0,69,69,4.7,4.2
1,2015/1/1 01:00,Banqiao,16,2.1,0.8,0.15,1.3,16,17,36,...,<NA>,<NA>,57,11,2.2,0,67,65,4,4
2,2015/1/1 02:00,Banqiao,16,2.1,0.71,0.13,1,13,14,38,...,<NA>,<NA>,57,8,2.2,0,63,53,3.7,3.5
3,2015/1/1 03:00,Banqiao,15,2,0.66,0.12,0.8,11,12,39,...,<NA>,<NA>,58,6.5,2.2,0,63,63,4.1,3.3
4,2015/1/1 04:00,Banqiao,15,2,0.53,0.11,0.6,10,11,38,...,<NA>,<NA>,58,5.5,2.1,0,69,67,3,3.1

我想要知道在 2015/1/1 之中哪一天的pm2.5懸浮粒最高

In [3]:
# 將時間欄位轉換為 datetime 格式
df['time'] = pd.to_datetime(df['time'], format='%Y/%m/%d %H:%M:%S')

# 選擇 2015 年 1 月 1 日的資料
df_20150101 = df[df['time'].dt.date == pd.to_datetime('2015/01/01').date()]

# 以 pm2.5 欄位排序，取得最高的一筆資料
max_pm25 = df_20150101.sort_values('PM2.5', ascending=False).iloc[0]

# 印出最高 pm2.5 懸浮粒的資料
print(max_pm25)

time          2015-01-01 02:00:00
station                    Guting
AMB_TEMP                       16
CH4                             2
CO                           0.71
NMHC                         0.13
NO                            1.6
NO2                            17
NOx                            19
O3                             35
PH_RAIN                       NaN
PM10                          192
PM2.5                          96
RAINFALL                     <NA>
RAIN_COND                     NaN
RH                             61
SO2                           8.4
THC                           2.1
UVB                           NaN
WD_HR                          79
WIND_DIREC                     86
WIND_SPEED                    2.7
WS_HR                         2.6
Name: 43778, dtype: object

In [4]:

# 将日期时间列转换为datetime对象
df['time'] = pd.to_datetime(time['time'])

# 从日期时间列中提取年份、月份和日期
# 从日期时间列中提取年份、月份和日期
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day


# 计算每个月份的PM2.5平均值
pm25_monthly = data.groupby('month')['PM2.5'].mean()

# 绘制折线图显示PM2.5月均值的季节性变化
plt.plot(pm25_monthly)
plt.title('PM2.5月均值季节性变化')
plt.xlabel('月份')
plt.ylabel('PM2.5月均值')
plt.show()

NameError: name 'time' is not defined

空氣品質趨勢分析：可以使用數據集中的時間序列數據進行空氣質量趨勢分析，找出污染物質的變化規律和影響因素，以及在時間和空間上的分佈規律。
空氣質量預測：可以使用機器學習演算法和 Python 中的 Scikit-learn 庫